html,body{
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
    margin-bottom: 5%;
}

#game-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: lightblue;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:hover {
    background-color: deepskyblue;
}

.cell:active {
    background-color: dodgerblue;
}

/*smartphones*/
@media screen and (max-width:600px){

    h2{
        margin-top: 5%;
    }
}

/*IPads and tablet*/
@media screen and (min-width: 601px) and (max-width:1200px){
    .grid {
        grid-template-columns: repeat(10, 70px);
    }

    .cell {
        width: 70px;
        height: 70px;
    }  

    h2{
        margin-top: 5%;
    }
}